<include file="./Application/Common/View/header.html" title="关键词任务"/>

<a class="btn btn-default" href="/Task/index/create" role="button">新增任务</a>

<div class="container-fluid">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>序号</th>
				<th>名称</th>
				<th>深度</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="item" empty="暂时没有数据" >
				<tr>
					<td>{$i}</td>
					<td>{$item.Name}</td>
					<td>{$item.Pages}</td>
					<td>
						<?php switch ($item['TaskStatusEnum']) {
							case '-1':
								echo "错误";
								break;
							case '1':
								echo "已开始";
								break;
							case '2':
								echo "已结束";
								break;
							case '3':
								echo "暂停";
								break;
							default:
								echo "未开始";
								break;
						}?>
					</td>
					<td>
						<a class="btn btn-default" href="/Claw/index/index?taskId={$item._id}" role="button">文章列表</a>
						<a class="btn btn-default" href="/Keyword/index/index?taskId={$item._id}" role="button">关键词列表</a>
						<?php if ($item['TaskStatusEnum'] == 0 || $item['TaskStatusEnum'] == 2): ?>
							<a class="btn btn-default" href="/Task/index/resumeOrPause?taskId={$item._id}" role="button">开始任务</a>
						<?php endif ?>
						<?php if ($item['TaskStatusEnum'] == 1): ?>
							<a class="btn btn-default" href="/Task/index/resumeOrPause?taskId={$item._id}" role="button">暂停任务</a>
						<?php endif ?>
						<?php if ($item['TaskStatusEnum'] == 3): ?>
							<a class="btn btn-default" href="/Task/index/resumeOrPause?taskId={$item._id}" role="button">继续任务</a>
						<?php endif ?>
						<a class="btn btn-default" href="/Task/index/deleteTask?taskId={$item._id}" role="button">删除任务</a>
					</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<ul class="pager">
		{$pager}
	</ul>
</div>

<include file="./Application/Common/View/footer.html"/>