<include file="./Application/Common/View/header.html" title="{$title}"/>

<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
            <h1 class="page-header">{$title}</h1>
        </div>
    </div>
    <div class="row">
    	<div class="col-lg-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
                    明细
                </div>
                <div class="panel-body">
					<form action="createKeyword" method="POST" role="form">
						<div class="form-group">
							<label for="">关键词</label>
							<textarea class="form-control" id="keywords" name="keywords" placeholder="搜索关键词" rows="5"></textarea>
							<input type="hidden" class="form-control" id="taskId" name="taskId" value="{$taskId}">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<include file="./Application/Common/View/footer.html"/>